* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main {
    width: 100%;
}
.wrapper {
    width: 1520px;
}
.txtDark {
    color: $primary-text-color;
}
.txtLight {
    color: $secondary-text-color;
}